## Aula 01

In [212]:
import pandas as pd

dados = pd.read_json('dados_hospedagem.json')
dados.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

In [213]:
# Normalizando o Dataframe
dados = pd.json_normalize(dados['info_moveis'])
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

## Aula 02

In [215]:
# Vamos separar os dados que estão agrupados nas colunas e transformar em varias linhas 

#Passo 1: selecionar os nomes nas colunas e transformar em um lista
colunas = list(dados.columns)
colunas

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [216]:
#Passo 2: como podemos observar no dataframe acima, os agrupados começa na coluna 3
#iremos usar o metado .explode para desagrupar essas lista
dados = dados.explode(colunas[3:])
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [217]:
# Vamos verificar os tipos de cada coluna
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3818 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 417.6+ KB

In [218]:
# Tranformando as coluna numericas em 'int64'
# Podemos fazer de duas maneiras 

import numpy as np

#1: alterar uma por uma
dados['max_hospedes'] = dados['max_hospedes'].astype(np.int64)
dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

#2: Criamos uma lista com nomes das colunas que deveram ser alterada
col_numericas = ['quantidade_banheiros', 'quantidade_quartos', 'quantidade_camas']
dados[col_numericas] = dados[col_numericas].astype(np.int64) 

dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3818 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 417.6+ KB

In [219]:
# Vamos tratar as colunas numericas, que contem str ('$', ',')
dados['preco']

0     $110.00
0      $45.00
0      $55.00
0      $52.00
0      $85.00
       ...
68    $299.00
68    $199.00
68    $400.00
69    $250.00
69    $350.00
Name: preco, Length: 3818, dtype: object

In [220]:
# Ultilizando a função'.apply(lambda x:)', .replace() para a substituição e .strip() para remoção de espaços

dados['preco'] = dados['preco'].apply(lambda x: x.replace('$', '').replace(',','').strip()).astype(np.float64)
dados['preco']

0     110.0
0      45.0
0      55.0
0      52.0
0      85.0
      ...
68    299.0
68    199.0
68    400.0
69    250.0
69    350.0
Name: preco, Length: 3818, dtype: float64

In [221]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3818 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 417.6+ KB

## Aula 03

In [222]:
# Dessa vez, iremos fazer a alteração de duas coluna de uma vez
# Para isso usamos o metado ".applymap", que aplica a função em dataframe inteiro
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',','')
                                                                                           .strip()).astype(np.float64)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3818 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 417.6+ KB

C:\Users\emanu\AppData\Local\Temp\ipykernel_456\945953782.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',','')

In [223]:
# Padronizando os dados da descrição local para minúsculas
dados['descricao_local'].str.lower()

0     this clean and comfortable one bedroom sits ri...
0     our century old upper queen anne house is loca...
0     cozy room in two-bedroom apartment along the l...
0     very lovely and cozy room for one. convenientl...
0     the “studio at mibbett hollow' is in a beautif...
                            ...
68    beautiful craftsman home in the historic wedgw...
68    located in a very easily accessible area of se...
68    this home is fully furnished and available wee...
69    this business-themed modern home features:  *h...
69    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [224]:
# Removendo pontuações não relevantes: (',', '!', ':', etc)
# Usamos o '^' para não selecionar esses caracteres "a-zA-Z0-9\-\'".

dados['descricao_local'] = dados['descricao_local'].str.replace("[^a-zA-Z0-9\\-\\']",' ', regex=True)
dados['descricao_local']

0     This clean and comfortable one bedroom sits ri...
0     Our century old Upper Queen Anne house is loca...
0     Cozy room in two-bedroom apartment along the l...
0     Very lovely and cozy room for one  Convenientl...
0     The  Studio at Mibbett Hollow' is in a Beautif...
                            ...
68    Beautiful craftsman home in the historic Wedgw...
68    Located in a very easily accessible area of Se...
68    This home is fully furnished and available wee...
69    This business-themed modern home features    H...
69    This welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [225]:
#Removendo o caracter '-' que não faz parte de palavras compostas
dados['descricao_local'] = dados['descricao_local'].str.replace('(?<!\\w)-(?!\\w)', '', regex=True)
dados['descricao_local']

0     This clean and comfortable one bedroom sits ri...
0     Our century old Upper Queen Anne house is loca...
0     Cozy room in two-bedroom apartment along the l...
0     Very lovely and cozy room for one  Convenientl...
0     The  Studio at Mibbett Hollow' is in a Beautif...
                            ...
68    Beautiful craftsman home in the historic Wedgw...
68    Located in a very easily accessible area of Se...
68    This home is fully furnished and available wee...
69    This business-themed modern home features    H...
69    This welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [226]:
# Após o tratamento e remoção dos caracteres, vamos realizar a tokenização .split()
dados['descricao_local'] = dados['descricao_local'].str.split()
dados['descricao_local']

0     [This, clean, and, comfortable, one, bedroom, ...
0     [Our, century, old, Upper, Queen, Anne, house,...
0     [Cozy, room, in, two-bedroom, apartment, along...
0     [Very, lovely, and, cozy, room, for, one, Conv...
0     [The, Studio, at, Mibbett, Hollow', is, in, a,...
                            ...
68    [Beautiful, craftsman, home, in, the, historic...
68    [Located, in, a, very, easily, accessible, are...
68    [This, home, is, fully, furnished, and, availa...
69    [This, business-themed, modern, home, features...
69    [This, welcoming, home, is, in, the, quiet, re...
Name: descricao_local, Length: 3818, dtype: object

In [227]:
#Vamos fazer tokenização da coluna 'comodidades'

#Realizando o tratamento (removendo) os caracteres '{}' e ' "" '
dados['comodidades'] = dados['comodidades'].str.replace('\\{|}|\\"', '', regex=True )

#Como a separação está por virgula, vamos apenas identificar no .split() a separador.
dados['comodidades'] = dados['comodidades'].str.split(',')

dados['comodidades']

0     [Internet, Wireless Internet, Kitchen, Free Pa...
0     [TV, Internet, Wireless Internet, Kitchen, Fre...
0     [TV, Internet, Wireless Internet, Kitchen, Fre...
0     [Internet, Wireless Internet, Kitchen, Free Pa...
0     [Wireless Internet, Kitchen, Free Parking on P...
                            ...
68    [TV, Cable TV, Internet, Wireless Internet, Ai...
68    [TV, Cable TV, Internet, Wireless Internet, Ki...
68    [TV, Cable TV, Internet, Wireless Internet, Ai...
69    [TV, Cable TV, Internet, Wireless Internet, Ai...
69    [TV, Internet, Wireless Internet, Kitchen, Fre...
Name: comodidades, Length: 3818, dtype: object

#### Desafio: faça você mesmo

In [229]:
#Vamos fazer tokenização da coluna 'descricao_vizinhanca'

#Tranformando o texto em letros minusculas 
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.lower()

#Removendo os caracteres 
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.replace("[^a-zA-Z0-9\\-\\']", ' ', regex=True)

#Removendo o caracter '-' que não faz parte de palavras compostas
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.replace("(?<!\\w)-(?!\\w)", ' ', regex=True)

#Fazendo a tokenização (lista)
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.split()

In [230]:
dados['descricao_vizinhanca'][0]

0    [lower, queen, anne, is, near, the, seattle, c...
0    [upper, queen, anne, is, a, really, pleasant, ...
0    [the, convenience, of, being, in, seattle, but...
0    [ballard, is, lovely, vibrant, and, one, of, t...
0                                                   []
                           ...
0    [within, 60, seconds, to, ten, minutes, woodla...
0                                                   []
0    [fremont, is, only, 15, minutes, from, downtow...
0    [the, neighborhood, is, amazing, it's, super, ...
0                                                   []
Name: descricao_vizinhanca, Length: 99, dtype: object

In [252]:
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[This, clean, and, comfortable, one, bedroom, ...","[lower, queen, anne, is, near, the, seattle, c...",1,1,1,Real Bed,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,0.0,110.0
0,10.0,--,1,"[Our, century, old, Upper, Queen, Anne, house,...","[upper, queen, anne, is, a, really, pleasant, ...",1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,45.0
0,10.0,--,1,"[Cozy, room, in, two-bedroom, apartment, along...","[the, convenience, of, being, in, seattle, but...",1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,55.0
0,10.0,--,1,"[Very, lovely, and, cozy, room, for, one, Conv...","[ballard, is, lovely, vibrant, and, one, of, t...",1,1,1,Pull-out Sofa,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,20.0,52.0
0,10.0,--,1,"[The, Studio, at, Mibbett, Hollow', is, in, a,...",[],1,1,1,Real Bed,"[Wireless Internet, Kitchen, Free Parking on P...",0.0,15.0,85.0